#botonCopiar {
  display: none;
}

/* Global styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f4f4fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 40px;
}

/* Logo */
header img {
  max-width: 150px;
  height: auto;
}

/* Input and output text areas */
#textoEncriptado,
#textoDesencriptado {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 700px;
  height: 150px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.boton-encriptado,
.boton-desencriptado {
  background-color: #007BFF;
  height: 45px;
  color: #fff;
  padding: 0 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.boton-encriptado:hover,
.boton-desencriptado:hover {
  background-color: #0056b3;
}

#botonCopiar {
  background-color: #28a745;
  height: 45px;
  color: #fff;
  padding: 0 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#botonCopiar:hover {
  background-color: #218838;
}

/* Alert (optional) */
.alerta {
  display: flex;
  align-items: center;
  color: #495057;
  margin-top: 20px;
  background-color: #fff3cd;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alerta img {
  margin-right: 10px;
}

/* Container for additional elements */
.contenedor-mono {
  margin-top: 30px;
}

.contenedor-mono img {
  width: 100px;
  height: auto;
}

/* Media queries for responsiveness */
@media screen and (min-width: 1000px) {
  body {
    flex-direction: column;
    padding: 0;
  }

  #textoEncriptado,
  #textoDesencriptado {
    width: 60%;
  }

  .contenedor-mono {
    margin-top: 50px;
  }
}
